src/main/mule/testee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fbd9489d-f0b9-45e0-ace5-d72be5eba24a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testeeFlow" doc:id="d4871710-f5d4-46a8-834e-830bbca539bb" >
		<http:listener doc:name="Listener" doc:id="bfa01dd2-22a6-4b47-85eb-3da3d02c0c42" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="a88a7abf-932b-458f-bc81-d4f6687ec77b" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="3ad27894-76eb-4660-95d5-783719b18af0">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
"test successful"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
